[Unit]
Description=RTL8723 Bluetooth Service

[Service]
Type=simple
ExecStart=/usr/bin/rtk_hciattach -n -s 115200 /dev/ttyAMA0 rtk_h5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=RTL_BT
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=rtl-bluetooth.service